.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc.yml
esbuild.js
vsc-extension-quickstart.md
biome.jsonc
.yarn/*
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
**/webpack.config.js
